<head>
  <link rel="stylesheet" type="text/css" href="select.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script>
    const logout = () => { window.location.href = "http://localhost:3000/logout" };
    const move = () => { window.location.href = "http://localhost:3000/patient" };
  </script>
</head>
<div class="header">
  <div class="header-logo">
    <div class="logo"><img src="./img/inhaLogo.png" alt="INHA UNIVERSITY" /></div>
    <span class="logo-text">Reservation</span>
  </div>

  <div class="header-info">
    <span class="header-info_title">Welcom to inhaHospital.(A+ grade) </span>
  </div>
</div>

<div class="content">
  <div class="side">
    <div class="side-frame">
      <div class="side-frame_id">
        <div class="userinfo">{{user}}</div>
        <button class="logout" onclick="logout()">Logout</button>
      </div>
    </div>
    <div class="side-menu">
      
      <div class="side-menu_list" onclick="move()">
        <span>Patient</span>
        <span class="material-icons">add</span>
      </div>

    </div>
  </div>
  <div class="main">
    <div class="main-top">
      <span class="main-top_title">Course registration for the 2nd semester of 2023</span>
      <div class="main-top_table">

        <h1 class="info">{{title}}</h1>
        <span class="main-bottom_title">Inpatient Info</span>
        <table>
          <tr>
            <td><b>Inpatient_id</b></td>
            <td><b>In_date</b></td>
            <td><b>Patient_id</b></td>
          </tr>
          {{#each inpatient}}
          <form method="post">
            <tr>
              <td>{{I_id}}</td>
              <td>{{I_date}}</td>
              <td>{{I_P_id}}</td>
            </tr>
          </form>
          {{/each}}
        </table>

      </div>
    </div>
  </div>
</div>