<head>
  <link rel="stylesheet" type="text/css" href="select.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script>
    const logout = () => { window.location.href = "http://localhost:3000/logout" };
    const movesearch = () => { window.location.href = "http://localhost:3000/search" };
  </script>
</head>
<div class="header">
  <div class="header-logo">
    <div class="logo"><img src="./img/inhaLogo.png" alt="INHA UNIVERSITY" /></div>
    <span class="logo-text">Reservation</span>
  </div>

  <div class="header-info">
    <span class="header-info_title">Welcom to inhaHospital.(A+ grade) </span>
  </div>
</div>

<div class="content">
  <div class="side">
    <div class="side-frame">
      <div class="side-frame_id">
        <div class="userinfo">{{user}}</div>
        <button class="logout" onclick="logout()">Logout</button>
      </div>
    </div>
    <div class="side-menu">
    
      <div class="side-menu_list" onclick="movesearch()">
        <span>Search-Patient</span>
        <span class="material-icons">add</span>
      </div>

    </div>
  </div>
  <div class="main">
    <div class="main-top">
      <span class="main-top_title">Course registration for the 2nd semester of 2023</span>
      <div class="main-top_table">
        <h1 class="info">{{title}}</h1>
        <span class="main-bottom_title">Treatment</span>
        <table>
          <tr>
            <td><b>Treatment_id</b></td>
            <td><b>Nurse_id</b></td>
            <td><b>Patient_id</b></td>
            <td><b>Date</b></td>
            <td><b>Info</b></td>
          </tr>
          {{#each treatment}}
          <form method="post">
            <tr>
              <td><input type="text" name="T_id" value="{{T_id}}"></td>
              <td><input type="text" name="N_id" value="{{T_N_id}}"></td>
              <td><input type="text" name="P_id" value="{{T_P_id}}"></td>
              <td><input type="text" name="Date" value="{{Date}}"></td>
              <td><input type="text" name="Info" value="{{Info}}"></td>
              <td><input type="submit" name="action" value="modify" formaction="/nurse"></td>
              <td><input type="submit" name="action" value="delete" formaction="/nurse"></td>
            </tr>
          </form>
          {{/each}}
        </table>

<h1 class="info">{{title2}}</h1>

<form method="post">
  <label for="T_id">Treatement_id : </label>
  <input type="text" name="T_id" required>

  <label for="T_P_id">Patient_id : </label>
  <input type="text" name="T_P_id" required>

  <label for="Date">Date : </label>
  <input type="text" name="Date" required>

  <label for="Info">Info : </label>
  <input type="text" name="Info" required>

  <input type="submit" name="action" value="insert" formaction="/nurse">
</form>

      </div>
    </div>
  </div>
</div>